---
---

// Styles
$text-color: #222222;
$bg-color: #EEEEEE;
$link-color: #ffaaaa;

// Images
$sand: url({{ site.baseurl | append: '/images/sand.jpeg' }});
$pavement: url({{ site.baseurl | append: '/images/pavement.jpeg' }});
$clouds: url({{ site.baseurl | append: '/images/clouds.jpeg' }});

// Parallax
$perspective: 100;

@import
    "parallax-mixins"
;

@import
    "style",
    "parallax",
    "fixes"
;
