---
---

// Styles
$text-color: #222233;
$bg-color: #EEEEEE;
$link-color: #ffaaaa;

// Images
$sand: url({{ site.baseurl | append: '/images/sand.jpeg' }});
$pavement: url({{ site.baseurl | append: '/images/pavement.jpeg' }});
$clouds: url({{ site.baseurl | append: '/images/clouds.jpeg' }});

// Parallax
$perspective: 100;

@mixin parallax-support {
    @supports (((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch))) {
        @content;
    }
}

@mixin parallax ($depth: 0) {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include parallax-support {
        $scale: 1 - ($depth / $perspective);
        $height-adjust: calc((1 - (1 / #{$scale})) * (100vh - 100%) / -2);
        top: $height-adjust;
        bottom: $height-adjust;
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: translateZ($depth * 1px) scale($scale);
        transform: translateZ($depth * 1px) scale($scale);
    }
}

@import
    "style",
    "parallax",
    "fixes"
;
