html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.parallax-page {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
@supports ((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch)) {
  .parallax-page {
    height: 100vh;
    -webkit-perspective: 100px;
            perspective: 100px;
    -webkit-perspective-origin: right;
    perspective-origin: right;
  }
}

.parallax-group {
  position: relative;
  background-color: transparent !important;
  pointer-events: none;
}
.parallax-group > * {
  pointer-events: auto;
}
@supports ((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch)) {
  .parallax-group {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
}

.parallax-bg-deep {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@supports ((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch)) {
  .parallax-bg-deep {
    top: calc((1 - (1 / 3)) * (100vh - 100%) / -2);
    bottom: calc((1 - (1 / 3)) * (100vh - 100%) / -2);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translateZ(-200px) scale(3);
            transform: translateZ(-200px) scale(3);
  }
}

.parallax-bg-middle {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@supports ((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch)) {
  .parallax-bg-middle {
    top: calc((1 - (1 / 2)) * (100vh - 100%) / -2);
    bottom: calc((1 - (1 / 2)) * (100vh - 100%) / -2);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translateZ(-100px) scale(2);
            transform: translateZ(-100px) scale(2);
  }
}

.parallax-bg-shallow {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@supports ((-webkit-perspective: 1px) or (perspective: 1px)) and (not (-webkit-overflow-scrolling: touch)) {
  .parallax-bg-shallow {
    top: calc((1 - (1 / 1.5)) * (100vh - 100%) / -2);
    bottom: calc((1 - (1 / 1.5)) * (100vh - 100%) / -2);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translateZ(-50px) scale(1.5);
            transform: translateZ(-50px) scale(1.5);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-size: 4vmin;
  font-weight: 400;
  line-height: 1.2;
  background-color: red;
  text-align: center;
}

h1, h2 {
  font-weight: 600;
}

strong {
  font-weight: 500;
}

a {
  color: #ffaaaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
a:visited {
  color: #ffc9c9;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  padding: 60px;
}
.content p {
  max-width: 36em;
}

.base-layer {
  position: relative;
  color: #222233;
  background-color: #EEEEEE;
  z-index: 1;
}

.parallax-group {
  color: #EEEEEE;
  text-shadow: 1px 1px 4px #222233;
}

footer {
  color: #EEEEEE;
  background-color: #222233;
  padding: 15px;
  line-height: 1.4;
  font-size: 16px;
}
footer p {
  margin: 0;
}

@media (min-width: 800px) {
  .footer-table {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    line-height: 30px;
  }
  .footer-table p {
    display: table-cell;
    padding: 0 1em;
    width: 50%;
  }
  .footer-table p:first-child {
    text-align: right;
    border-right: 1px solid #363646;
  }
}

.screen-height {
  min-height: 100vh;
}

.bg-1, .bg-2, .bg-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-1 {
  background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg");
}

.bg-2 {
  background-image: url("https://images.pexels.com/photos/908286/pexels-photo-908286.jpeg");
}

.bg-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://images.pexels.com/photos/414634/pexels-photo-414634.jpeg");
}

.arrows:before, .arrows:after {
  content: "";
  position: absolute;
  display: block;
  left: calc(50% - 30px);
  border-top: 0 solid #b3b3b3;
  border-bottom: 0 solid #b3b3b3;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.arrows:before {
  top: 10px;
  border-bottom-width: 30px;
}
.arrows:after {
  bottom: 10px;
  border-top-width: 30px;
}
.arrows.parallax-bg-shallow:before, .arrows.parallax-bg-shallow:after {
  left: calc(50% - 26px);
  border-top-color: #8f8f8f;
  border-bottom-color: #8f8f8f;
  border-left-width: 26px;
  border-right-width: 26px;
}
.arrows.parallax-bg-shallow:before {
  top: 60px;
  border-bottom-width: 26px;
}
.arrows.parallax-bg-shallow:after {
  bottom: 60px;
  border-top-width: 26px;
}
.arrows.parallax-bg-middle:before, .arrows.parallax-bg-middle:after {
  left: calc(50% - 22px);
  border-top-color: #6c6c6c;
  border-bottom-color: #6c6c6c;
  border-left-width: 22px;
  border-right-width: 22px;
}
.arrows.parallax-bg-middle:before {
  top: 60px;
  border-bottom-width: 22px;
}
.arrows.parallax-bg-middle:after {
  bottom: 60px;
  border-top-width: 22px;
}
.arrows.parallax-bg-deep:before, .arrows.parallax-bg-deep:after {
  left: calc(50% - 18px);
  border-top-color: #484848;
  border-bottom-color: #484848;
  border-left-width: 18px;
  border-right-width: 18px;
}
.arrows.parallax-bg-deep:before {
  top: 60px;
  border-bottom-width: 18px;
}
.arrows.parallax-bg-deep:after {
  bottom: 60px;
  border-top-width: 18px;
}

.hide-arrows .arrows:before, .hide-arrows .arrows:after {
  display: none;
}

#options {
  position: fixed;
  top: 30px;
  left: 30px;
  font-family: sans-serif;
  font-size: 1.2rem;
  z-index: 100;
  text-align: left;
  line-height: 1.5;
  color: #222233;
  background-color: rgba(238, 238, 238, 0.8);
  padding: 8px;
  border-radius: 5px;
}
#options input {
  vertical-align: middle;
  position: relative;
  bottom: .15em;
  margin-right: .3em;
}

.fix-1a .parallax-page {
  -webkit-perspective-origin: left;
          perspective-origin: left;
}
.fix-1a .parallax-bg-deep, .fix-1a .parallax-bg-middle, .fix-1a .parallax-bg-shallow {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.fix-1b .parallax-page {
  -webkit-perspective-origin: center;
          perspective-origin: center;
}
.fix-1b .parallax-bg-deep, .fix-1b .parallax-bg-middle, .fix-1b .parallax-bg-shallow {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.fix-2a .parallax-group {
  margin-left: calc(100% - 100vw);
  margin-right: calc(100% - 100vw);
  padding-left: calc(100vw - 100%);
  padding-right: calc(100vw - 100%);
}

.fix-2b .parallax-group {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.fix-3 ::-webkit-scrollbar {
  display: none;
}
